<link rel="stylesheet" href="/css/index.css">
<button onclick="location.href='/subject-register'" class="subject-register-button">科目を登録</button>
<div class="subject-list">
    <% @subject.each do |subject| %>
    <% max_absences = (subject.class_count * (1- @user.absent_ratio)).round - 1 %>
    <div class="subject-item">
        <h3><%= subject.name %></h3>
        <div class="button-container">
            <button class="edit-button" data-id="<%= subject.id %>">✏️</button>
        </div>
        <p>授業回数: <%= subject.class_count %>回</p>
        <p>欠席できる回数: <%= max_absences %>回</p>
        <p>現在の欠席回数: <%= subject.absent_count %>回</p>
        <p>残り: <%= max_absences - subject.absent_count %>回</p>
        <form method="post" action="/record_absence/<%= subject.id %>">
            <button type="submit" class="record-absence-button">欠席を記録</button>
        </form>
    </div>
    <%= erb :"partials/_edit_form", locals: { subject: subject } %>

    <% end %>
</div>

